.skyscanner_flight_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: $container-max-width/1.8;
  padding: 10px;
  border: 2px solid $glossy-grape;
  border-radius: 25px;
  background: rgba(196, 166, 157, 25%);

  &_header {
    padding-bottom: 5px;
    border-bottom: 1px solid $glossy-grape;
  }

  &_body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    td {
      padding: 5px 10px;
    }
  }

  &_button {
    padding:0;
    border-width:0;
    color: $royal-purple;
    background:transparent;
    cursor:pointer;
  }
}