/* COLORS */
$aquamarine: #7FFFD4;
$purple-navy: #655A7C;
$glossy-grape: #AB92BF;
$silver-pink: #C4A69D;
$black-coral: #465C69;
$space-cadet: #363457;
$royal-purple: #735290;

$magic-mint: #AAFAC8;
$aero-blue: #C7FFED;
$silver-sand: #BBC8CA;
$lilac-luster: #B592A0;
$copper-rose: #9C7178;

/* MISC */
$container-max-width: calc(1200px + (2 * 20px));