@charset "UTF-8";

/* Normalize CSS */
@import "modern-normalize";

/* Variables */
@import "vars";

/* Commons */
@import "commons/base";
@import "commons/header";
@import "commons/container";
@import "commons/button";

/* Pages */
@import "pages/flight-details";

/* Parts */
@import "parts/form";
@import "parts/card-list";
@import "parts/card";

body {
  font-family: 'Arial', sans-serif;
}

.Layout {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}